.disciple {
  margin-top: 40px;
}
.disciple-btn {
  border: none;
  background: transparent;
  color: silver;
  font-size: 14px;
  width: 129px;
  height: 54px;
}
.disciple-btn.active {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fee1ff;
  color: #000;
}
.disciple__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.disciple__btn-save {
  width: 133px;
  height: 53px;
  border-radius: 10px;
  border: none;
  background: rgba(101, 243, 149, 0.4);
}

.blogTeacher {
  width: 100%;
  margin: 57px auto 76px;
  padding: 20px 0px 20px 26px;
  background-color: #FFFCFC;
}

.hidden {
  display: none;
}

.preveiw {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.window {
  width: 97%;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #fed8ff), color-stop(24%, #feddff), color-stop(45%, #fceafc), to(#fffdff));
  background: linear-gradient(180deg, #fed8ff 2%, #feddff 24%, #fceafc 45%, #fffdff 100%);
  padding: 20px 15px;
}

.journal-table {
  display: none;
  width: 90%;
  margin: 0 auto 42px;
  background: #fff9f9;
  border-collapse: collapse;
}
.journal-table.active {
  display: block;
}
.journal-table th,
.journal-table td {
  border: 1px solid black;
  padding: 5px 20px;
  text-align: center;
}
.journal-date {
  height: 80px;
  max-width: 20px;
}
.journal-date__header {
  vertical-align: middle;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.journal-pad__our {
  width: 133px;
  height: 53px;
  border-radius: 10px;
  border: none;
}
.journal-practic {
  background: rgba(101, 243, 149, 0.4);
  color: #4b4949;
}
.journal-lecture {
  background: rgba(101, 243, 149, 0.4);
  color: #4b4949;
}
.journal-fullName {
  max-width: 250px;
}
.journal-btn-group {
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.journal__tab-active {
  border: 1px solid #000;
  color: #000;
}
.journal__input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 20px;
  height: 20px;
}

.statement {
  width: 97%;
  margin: 0 auto 42px;
  padding-top: 20px;
  background: #fff9f9;
  border-collapse: collapse;
}
.statement th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.statement td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.statement-delete {
  color: #09F575;
}

.exercise-table {
  width: 70%;
  margin: 0 auto 42px;
  border-collapse: collapse;
  background: #fff9f9;
}
.exercise-table th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: silver;
}
.exercise-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.exercise-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}
.exercise-create {
  width: 122px;
  height: 42px;
  background-color: #F9C81C;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.loadInformation {
  margin-top: 70px;
}
.loadInformation-table {
  width: 95%;
  margin: 0 auto 42px;
  border-collapse: collapse;
}
.loadInformation-table th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: silver;
}
.loadInformation-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.tmc__add {
  width: 135px;
  height: 40px;
  border-radius: 3px;
  background-color: rgba(101, 243, 149, 0.4);
  border: none;
}