.blogTeacher {
    width: 100%;
    margin: 25px auto 35px;
    padding: 20px 0px 20px 26px;
    background-color: #FFFCFC;
}

.all-autumn {
    margin-top: 40px;

    &__inner {
        width: 100%;
        margin: 0 auto;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff9f9;
        padding: 32px 89px;
    }

    &-table {

        width: 100%;
        margin: 0 auto 42;
        border-collapse: collapse;


        th {
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background: rgba(245, 109, 248, 0.17);
        }

        th,
        td {
            text-align: center;
            padding: 15px 10px;
            border: 1px solid #676565;
        }

        td {
            background: rgba(255, 252, 255, 0.17);
        }
    }
}

.group-btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.all-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 32px;
    background: rgba(101, 243, 149, 0.4);
    border: none;
    cursor: pointer;
}

.btn-table {
    background: rgba(101, 243, 149, 0.4);
}